# Dependencies
node_modules/
.pnp
.pnp.*

# Build outputs
dist/
build/
.next/
out/
.turbo
*.tsbuildinfo

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.local
.env.*
**/.env*
!**/.env.example
*.key
*.pem
.npmrc
.yarnrc

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Testing
coverage/

# Vercel
.vercel
