PORT=3001
MONGODB_URI=
JWT_SECRET=
CORS_ORIGIN=

# AI & Comms
OPENROUTER_API_KEY=
RESEND_API_KEY=

# Payments
PAYSTACK_TEST_PUBLIC_KEY=
PAYSTACK_TEST_SECRET_KEY=

# Pusher (For Real-time messages on Vercel)
# Get these from pusher.com
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
